@charset "UTF-8";


/*色の設定*/
/*background*/
body {
    background-color:#f6f6f6;
}

/*standard_text*/
body,.article h2 a{
    color: #666;
}
/* red white */
.article span.new{
    background-color:#C96855 ;
    color:white;
}
/*error*/
.required,.error-message{
    color:#c30;
}

/* yellow black*/
.search_result .result strong{
    font-weight: normal;
    background-color: #ff0;
    color:black;
}

/*strong color*/
.sidemenu a,.tag_list a, .more a,.subpage th, .mail th,.breadcrumb li:last-child a,.mail_submit_message a,
.search_result h2 a{
    color: black;
}

/*white*/
.footer a, a.pager-link,.tags a{
    color:#000;
}
/*footer {
    position: relative;
}*/

.sidebox,.article,.blog_single, .blog_sequence,.bx-pager,.sidemenu .global-menu a:hover:after,ul.breadcrumb,.static, .mail{
    background-color: white;
}

/*gray border*/
.mail input[type="text"],.mail input[type="password"],.mail input[type="search"],.mail select,
.sidebox, .bx-pager,.article, ul.breadcrumb,.blog_sequence,.blog_single,.static,.mail,.blog_archives h1,.mail_submit_message
,.search-box #ContentQ{
    border:1px solid #D2D2D2;
}
/*.mail_submit_message a,.sidemenu .global-menu a:after,.subpage h1:after,.sidemenu a:hover, .pager-link{
    background-color:#D2D2D2;
}*/
.static h2,.search_result .section,.subpage h1, .company_name, .mail_confirm th, .mail_confirm td,.subpage th, .subpage td{
    border-bottom: 1px solid #D2D2D2;
}
.more{
    border-top: 1px solid #D2D2D2;
}
.blog_single .date,.blog_archives .date{
    color:#D2D2D2;

}
.sidemenu  a{
    /*border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: -1px;*/
}
hr {
    border:solid #D2D2D2;
}
/*submitボタン*/
.mail .submit input{
    border-radius:50pt;
    box-shadow:1px 1px 2px #888;
    font-size:15pt;
    border:1px solid #d2d2d2;
    cursor:pointer;
    color:black;
    margin:0 15px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fdfdfd), color-stop(0.46, #e7e8e8), color-stop(0.33, #fff));
    background: -webkit-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -moz-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -o-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: -ms-linear-gradient(top, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);
    background: linear-gradient(to bottom, #fff 33%, #e7e8e8 46%, #fdfdfd 100%);

}
.mail .submit input:hover{

    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f1f9f7), color-stop(1.00, #f1f9f7), color-stop(0.61, #c1e2dc), color-stop(0.47, #dff1ee), color-stop(0.33, #fff));
    background: -webkit-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -moz-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -o-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: -ms-linear-gradient(top, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    background: linear-gradient(to bottom, #fff 33%, #dff1ee 47%, #c1e2dc 61%, #f1f9f7 100%, #f1f9f7 100%);
    border:1px solid #c1e2dc;
}


.sidemenu .logo a{
    border:none;
}
.sidemenu .logo a:hover{
    border:none;
    background-color:transparent;


}
hr {
    border-width:1px 0 0 0;
    height:1px;
    clear:both;
}
.article .title{
    margin: 0 0 10px;
}

.article img{
    max-width: 190px;
    /* height :127px; */

}
hr.bottom {
    margin-top:60px;
    margin-bottom: 0;
}

/*base color*/
.header,.company_name, .connection .head, .menu_content h2 ,.breadcrumb, .breadcrumb a,.blog_sequence a,.blog-calendar a{
    color: #88B9B0;
}
.breadcrumb li a:hover,.pager-active, .pager-link:hover, .footer, .article .tags, .totop a, .more a:hover, .sidemenu h2{
    background-color: #e2e2e2;
    /*color:white;*/
    transition-duration:0.2s;
}
.breadcrumb li a:hover:after {
    transition-duration:0.2s;
    border-left: 30px solid #88b9b0;
}



h1,h2,h3,h4,h5{
    font-weight:normal;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.more{
    padding: 0;
    margin: 25px -25px -25px -25px;
    font-size: 12pt;
}
.footer a,.article h2 a,.tag_list a, .more a,.blog_archives h2 a,.tags a, .search_result a{
    text-decoration: none;
}


.page,.header{
    /*width:1075px;*/
    width:1095px;
    position:relative;
}
.page{
    margin:auto;

}
.header{
    font-size: 0.625rem;
    color: #010101;
    position:relative;
    margin:20px auto;
    padding-left: 10px;
}
.logo{
    padding: 40px 0;
    text-align: center;
}
/* sidemenu logo用 */
.sidemenu .sidebox .logo img{
  width: 65%;
  height: auto;
}
.header .sns{
    position:absolute;
    bottom:0px;
    right:10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}
.sidemenu{
    width:280px;
    top:0;
    left:0;
}
.main_content{
    /*width:795px;*/
    width:815px;
    float:right;
}
/*.main_content section {
    margin-left: 20px;
}*/

.sidebox{
    margin-bottom: 10px;
}

.sidemenu ul.global-menu, .blog-widget ul{
    padding:0;
    margin:0;
    list-style-type: none;
}
.sidemenu ul.global-menu{
    font-size:15pt;
    border-top: 1px dotted #030000;
    margin: 0 50px;
    padding: 40px 0;
}
.sidemenu .global-menu li {
    font-family: 'Poppins', 'Yu Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.sidemenu .global-menu li.menu05 {
    display: none;
}
.sidemenu .global-menu li.last {
    display: none;
}
.sidemenu .global-menu li.current a {
    color: #e91937;
}
/*.sidemenu .global-menu a,.blog-widget li a{
    padding-left: 52px;
}*/

.sidemenu .global-menu a, .connection .web a, .blog-widget li a{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    height:40px;
    line-height: 40px;
    display:block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.blog-widget li a:hover{
    text-decoration:underline;
}
.sidemenu .global-menu a{
    text-align: left;
}



.subpage h1:after{
    height: 20px;
    width:5px;
    margin-left:- 10px;
    top: -29px;
    left: -22px;
}
.sidemenu .search,.sidemenu .widget-area{
    text-align: center;
}
.widget-area li a{
    padding-left:0;
}
.widget a{
    border-bottom: none;
    border-top: none;
}

.sidemenu h2{
    margin: 25px 25px 15px 25px;
    font-size: 11pt;
    line-height: 17px;
    height:17px;
}

.sidemenu .search-box{
    padding:0 25px 25px 25px;

}
.search-box .submit_button{
    display:none;
}
.search-box #ContentQ{
    width:190px;
    height:30px;
    padding-left:15px;
    font-size:12pt;
    border-radius:30px;
    background-image: url("../img/search_icon.png");
    background-position: 173px center;
    background-color: white;
    background-repeat: no-repeat;

}
.connection p{
    margin:0;
}
.company_name{
    padding-top:25px;
    padding-bottom: 15px;
}

.connection .tel{
    padding-top: 0;
    padding-bottom: 25px;
}
.connection .tel p:first-child{
    padding-top: 15px;
}

.connection{
    text-align: center;
    font-size: 15pt;
}
.connection .tel .description{
    font-size: 11pt;
    padding-top: 0;
}
.connection .web{
    font-size: 13pt;
}


ul#MainImage{
    margin-top:0;
}
.bx-pager{
    height: 37px;
    padding-left:20px;
    font-size: 11pt;
    margin-bottom:25px;
}
a.pager-link {
    display:inline-block;
    margin: 10px 5px;
    height: 17px;
    line-height: 17px;
    width : 80px;
    text-decoration: none;
    text-align: center;
    -webkit-transition-duration: 1.5s;
    transition-duration: 0.5s;
}
.pager-link:hover{
    transition-duration: 0s;
}
.footer {
    position: relative;
    clear:both;
    padding: 45px 0;
}
.footer p{
    margin:0;
    padding:0;
    text-align:center;
}
.footer ul{
    margin:0;
    text-align: center;
}
.footer li{
    display:inline-block;
    margin:0 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
}
.footer li.menu05 {
    display: none;
}
.footer .sns {
    margin:25px auto 20px;
    text-align: center;
}
.footer .sns a {
    display: inline-block;
    margin: 0 10px;
}
.footer .footer-company-logos{
  width: 650px;
  margin: 20px auto;
  display: table;
}
.footer .footer-company-logos:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.footer .footer-company-logos p.ttl{
  text-align: center;
  font-size: 14px;
  padding-left: 15px;
}
.footer .footer-company-logos .logo01 {
    padding: 0 10px;
    box-sizing: border-box;
}
.footer .footer-company-logos .company-logo-box{
  width: 20%;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  height: 64px;
  box-sizing: border-box;
}
.footer .footer-company-logos .company-logo-box img{
  width: 100%;
  height: auto;
}
.copyright{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
}
.power{
    float:right;

}

.bx-wrapper{
    margin-left:25px;
    margin-bottom: 19px;
}
.bx-wrapper #MainImage,.bx-wrapper #MainImage ul,.bx-wrapper #MainImage li{
    margin:0;
    padding: 0;
}

.eyeCatch{
    margin-bottom:25px;
    height: 127px;
    overflow: hidden;
}
.eyeCatch a{
    position:relative;
}
.article .tags{
    background: transparent url(../img/line_tag.png) no-repeat center bottom;
    font-size: 0.825rem;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 15px;
}
.post-body p{
    margin-top:0;
}

.article {
    width: 188px;
    margin-bottom:25px;
    margin-left:25px;
    text-align: center;
    padding: 25px;
}

.article:hover {
    cursor: pointer;
}
.article:hover .wrap {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #e91937 url(../img/bg_readmore.png) no-repeat center center;
}


.article .title, .article .content{
    text-align: left;
}
.article .content,.static p,.blog_archives,.mail p{
    line-height: 190%;
    font-size: 11pt;
}
.article .content .txt {
    margin: 0;
    color: #000;
    font-size: 0.825rem;
}
.article .content .date {
    margin: 5px 0 0;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    font-size: 0.625rem;
}
.article .content .more {
    display: none;
}

.blog_archives{
    margin-top: 10px;
}
.static img{
    margin:60px 0;
}
.mail{
    padding:25px 25px 0 25px ;

}
.auth-captcha{
    text-align: center;
}
.auth-captcha-image{
    display:block;
    margin: auto;
}

.static h2{
    margin: 60px 25px 60px 0px;
    padding-left: 25px;
    padding-bottom: 40px;
}
.article h2{
    /*font-size:16pt;
    display:inline;*/
    font-size: 1rem;
    font-weight: bold;
}
.article h2 a {
    color: #e91937;
}
.article span.new{
    display:block;
    width:70px;
    height:70px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/icon_new.png") no-repeat left top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

ul.breadcrumb{
    list-style: none;
    overflow: hidden;
    font-size: 15pt;
    margin-left:25px;
    margin-top:0;
    margin-bottom: 10px;
    padding:0;
}
.breadcrumb li a,
.breadcrumb li span{
    display:block;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    transition-duration:0.4s;
}
.breadcrumb li a:hover{
    text-decoration: underline;
}
.breadcrumb li {
    float: left;

    background: white;
    position: relative;
    display: block;
    float: left;
    transition-duration:0.4s;
}
.breadcrumb li a:after {
    transition-duration:0.4s;
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    transition-duration:0.2s;
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ccc;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:last-child a {
    background: white !important;
    pointer-events: none;
    cursor: default;
}
.blog_single{
    margin-left:25px;
    padding:25px;
    margin-bottom: 25px;
}
.blog_single .eye-catch{
    text-align: center;
    margin:25px 0;
}
.blog_single .date,.blog_archives .date{
    font-size:9pt;
}
.tag_list{
    text-align: right;
    padding:25px;
    padding-bottom: 0;
}
.blog_sequence{
    height:70px;
    margin-left:25px;
    margin-bottom:25px;
}
.blog_sequence a{
    text-decoration: none;
}
.blog_sequence .prev, .blog_sequence .next{
    height:70px;
    padding:0 25px;
    line-height: 70px;
}
.blog_sequence .prev{
    float: left;
}
.blog_sequence .next{
    float:right;
}
/* blog 画像調整 */
.post-body .blog-img{
  width: 100%;
  height: 100%;
}
.subpage h1.with_sns{
    margin-bottom: 0px;
    border-bottom: none;
    margin-top: 60px;
}
.subpage tr{
    height:50px;
}
.subpage th, .mail th{
    white-space: nowrap;

}
#RowMessageRoot th{
    white-space: normal;
}
.subpage table{
    font-size: 11pt;
    border-spacing: 0px;
}
.subpage th, .subpage td{
    font-weight: normal;
    text-align: left;
}
.sns {
    height:10px;
    padding-bottom:20px;
    line-height: 10px;
    margin:0;
    margin-bottom: 60px;
    text-align: right;
}

.totop{
    position: absolute;
    right: 30px;
    bottom: 52px;
    /*margin-left:25px;
    margin-bottom: 25px;*/
}
.totop a{
    display:block;
    width: 47px;
    text-align: center;
    margin:auto;
    text-decoration: none;
    /* padding:25px; */
    height: 47px;
    /*line-height: 40px;
    margin-bottom: 60px;*/
    background: url("../img/bg_pagetop.png") no-repeat left top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.widget-blog-calendar{
    padding-top:25px;
}
.blog-calendar{
    margin:auto;
}
.blog-calendar a{
    border-top:none;
    text-decoration: none;
    border-bottom: none
}
.blog-calendar td{
    font-size: 11pt;
    text-align: center;
}

.more a{
    display:block;
    text-align: center;
    height:46px;
    font-size: 12pt;
    line-height: 46px;
    transition-duration:0.4s;
}
.static, .mail{
    margin-left: 25px;
    padding: 25px;
    margin-bottom:25px;
}
.mail table,.static table{
    margin-left:60px;
    margin-right:60px;
}
.mail th{
    width: 190px;
}
.mail_confirm ul{
    list-style: none;
    padding:0;
}

#FieldMessageSex,.mail-description,.mail-attention,.mail-attention{
    font-size:11pt;
}
.mail-before-attachment{
    font-size:9pt;
}
.error-message{
    font-size:11pt;
}
.mail input[type="text"],.mail input[type="password"],.mail input[type="search"]{
    font-size: 14pt;
    border-radius:5px;
}
.mail select{
    border-radius:5px;
    height:20pt;
    font-size: 10pt;
}
#FieldMessageName1 input,#RowMessageNameKana1 input{
    margin-right:1em;
}
.mail .checkbox {
    font-size:11pt;
}
.mail .submit{
    margin-top:60px;
    margin-bottom: 35px;
    text-align: center;
}
.mail table{
    /* margin:auto; */
    border-spacing: 0px;
}
.mail th, .mail td{
    padding-top:15px;
    padding-bottom: 10px;
    border-top:none;
    border-left:none;
    border-right:none;
}
.mail_index th, .mail_index td{
    border:none;
}
.maps{
    margin:auto;
    width:585px;
}
.mail_submit_message{
    text-align:center;
}
.mail_submit_message h2{
    margin-top:60px;
    padding:0;
    margin-bottom:25px;
}
.mail_submit_message a{
    display:block;
    width: 460px;
    margin:60px auto;
    height:40px;
    text-decoration:none;
    line-height:40px;

}
.search_result_header,.list-num{
    text-align: right;
}
.search_result h2{
    margin:0;
    padding:0;
    border-bottom: none;

}

.search_result .section{
    margin: 25px;
    padding-bottom: 25px;
}
.search_result .url{
    font-size:80%;
}
.list-num p{
    display: inline-block;
    margin-left: 25px;
    margin:0;
}
/*ここから追加*/
/*画像背景透明化*/
.bge-contents [data-bgt=image] .bgt-box__image-container {
    background: transparent!important;
}
/*h1デザイン変更*/
.subpage h1 {
    padding: 0.3em 1.25em 0.3em 0;
    border: none;
    border-left: none;
    background: none;
    color: #e91937;
    font-size: 3.07692em;
    font-family: 'Poppins', 'Yu Gothic', sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    margin: 0 0 20px 0px;
    line-height: 1.25;
  }
/*h2デザイン変更*/
.bge-contents [data-bgt=title-h2] h2 {
    margin: 1em 0;
    padding: 0.3em 1.25em 2em 0;
    border: none;
    background: none;
    color: #e91937;
    font-family: 'Yu Gothic', sans-serif;
    font-size: 1.384615em;
    letter-spacing: 0.1em;
    font-weight:bold;
}
/*h3デザイン変更*/
.bge-contents .bgt-title-h3-container h3.bge-title-h3{
  font-size: 1.385em;
  font-family:  'Yu Gothic', 'Poppins', sans-serif;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  padding-left: 0;
  margin-bottom: 25px;
  border-left: none;
}
.bge-contents .bge-ckeditor h4{
  font-size: 1.15em;
}
/* ul調整 */
.bge-contents ul{
    margin-bottom: 0!important;
}
.bge-contents ul li{
    text-indent: -1em;
    padding-left: 1em;
    list-style-image: none!important;
    list-style-type: none!important;
}
.bge-contents ul li:before{
    content: ' ';
    width: 0.75rem;
    height: 0.75rem;
    background: #231815;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
.bge-contents ul.sub li:before {
    content: none;
}
.bge-contents ul li{
    line-height: 1.5em;
}
/*行間調整*/
.bge-ckeditor {
    margin-bottom: 35px;
}
.bge-contents p {
    margin: 1.25em 0!important;
    line-height: 1.5!important;
    margin: 1em 0;
    line-height: 1.5;
    font-size: 1.15em!important;
}
/*段落調整*/
.bge-contents [data-bgb] {
    margin: 0 0 2em;
}
/*アンカーリンク装飾変更*/
.bge-contents ul li a {
    text-decoration: none;
    color: #333;
}
.bge-contents ul li a:hover {
    text-decoration: underline;
}
/*about*/
/*教育スタイル画像調整*/
.about_style figure{
  margin: 0;
}
.about_style figure img{
  width: 100%;
}
/*lecturer*/
/*dd調整*/
.bgt-container.bgt-ckeditor-container .bge-ckeditor dl.lecturer-event dt{
    margin-bottom: 5px;
}
.bgt-container.bgt-ckeditor-container .bge-ckeditor dl.lecturer-event dd{
    margin:0 0 30px 10px;
}
/* logo調整 */
.campany_logos .bgt-link__box{
  width: 100%;
  height: 100px;
  display: table;
}
.campany_logos .bgt-link__box .bgt-box__image-container{
  display: table-cell;
  vertical-align: middle;
}
.campany_logos figure{
    -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
  }
.campany_logos .bgt-box__image-container{
  background: transparent!important;
}
.campany_logos .bgt-link__box img{
  width: 100%;
}
/*curriculum*/
/*定員アイコン*/
.bge-ckeditor p.icon{
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}
.bge-ckeditor p.capacity.icon{
    background: #000;
    color: #fff;
    width: 100px;
}
.bge-contents ul.sub li{
    list-style: none;
}
/*contact*/
/*インプット調整*/
#MessageIndexForm input {
    margin: 5px;
}
/*blog news01*/
.bge-contents .blog-news01 h2{
  background: none;
  border: none;
  color: #e91937;
}
.bge-contents .blog-news01 h3 {
    border-left: none;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    padding-left: 0;
}
table.corporation th{
  width: 151px;
}
table.corporation td{
  width: 451px;
}

@media screen and  (max-width: 1075px) {
    .page{
        width:100%;
    }
    .bx-wrapper{
        margin:0 auto 25px auto;
    }
    .bx-pager{
        margin:auto;
    }
    .bx-window{
        margin:auto;

    }
    .sidemenu{
        clear: right;
        width: 100%;
    }
    .main_content{
        width:100%;
        float:none;
        margin:auto;
    }

    .more{
        margin:0;
    }
    .fb-like-box, .header{
        width:100%;
        text-align: center;
    }
    .sns{
        position:initial;
    }
    .footer-menu{
        display:none;
    }
    .totop{
        margin-left:0;
        display:none;
    }
    .totop a{
        width:100%;
    }
    .mail_submit_message{
        margin-left:0;
        margin-right:0;
    }
    .mail_submit_message a{
        width:100%;
    }
    .blog_sequence,.blog_single,ul.breadcrumb{
        margin-left:0;
        width:100%;
    }
    .header .sns {
        position: relative;
        right:0;
    }


    .article, .mail{
        width:100%;
        margin-left:0;
        margin-bottom:25px;
        padding:0;

    }
    .article h2{
        display: block;
        text-align: center;
    }
    .article span.new{
        margin:auto;
        display:block;
    }
    .sidemenu .global-menu a, .connection .web a{
        text-align: center;
    }
    .article .title, .article .content{
        text-align: center;
    }
    .eyeCatch{
        margin-top:25px;
    }
    /* sidemenu logo */
    .sidemenu .sidebox .logo img {
    width: 50%;
    max-width: 300px;
    height: auto;
    }
}
@media screen and (max-width: 798px) {
  /*footer logo*/
  .footer .footer-company-logos{
    width: 100%;
    display: block;
  }
  .footer .footer-company-logos p.ttl {
    text-align: center;
  }
  .footer .footer-company-logos .company-logo-box{
    width: inherit;
    padding: 10px;
    display: block;
    height: inherit;
  }
  .footer .footer-company-logos .company-logo-box img{
    width: 150px;
    height: auto;
  }
  .footer .footer-company-logos .company-logo-box .ijigen img{
    width: 125px;
    height: auto;
  }
  .footer .footer-company-logos .company-logo-box .moremost img{
    width: 100px;
    height: auto;
  }
  .footer .footer-company-logos .logo01{
    width: 100%;
    border-right: none;
    float:none;
  }

    /*テーブルレスポンシブ修正*/
    .bge-contents .bgb-table [data-bgt=table] table tr {
        height: inherit;
        margin-top: -1px;
    }
    table.corporation th,
    table.corporation td{
      width: 100%;
    }
    /*ページ共通コンテンツボックス*/
    .subpage .static,
    .subpage .mail{
        padding: 5%;
        margin: 0 auto;
    }
    /*    コンタクトフォーム*/
    /*テーブルレスポンシブ修正*/

    #MessageIndexForm .bge-contents table {
        width: 95% !important;
        margin: 0 auto;
    }
    .bge-contents table tr th {
        display: block;
        width: 100%;
        padding: 20px 5%;
    }
    .bge-contents table tr:nth-child(odd) td {
        display: block;
        width: 100%;
        margin-top: -1px;
        padding: 20px 5%;
    }
    .subpage table tr {
        height: auto;
        display: block;
        width: 100%;
        margin-top: -1px;
    }
    .bge-contents table tr:nth-child(even) td {
        display: block;
        width: 100%;
        margin-top: -1px;
        padding: 20px 5%;
    }
    .row-table-01 #FieldMessageName1 input, #RowMessageNameKana1 input {
        margin: 5px 2.5%;
        width: 85%;
    }
    .row-table-01 input[type="text"],
    .row-table-01 input[type="password"],
    .row-table-01 input[type="search"]{
        margin: 5px 2.5%;
        width: 85%;
    }
    #FieldMessageMessage textarea{
        width: 100%;
    }
    #FieldMessageTel1 input,
    #FieldMessageTel2 input,
    #FieldMessageTel3 input{
        width: auto;
    }
    .row-table-01 #FieldMessageEmail1 input[type="text"],
    .row-table-01 #FieldMessageEmail2 input[type="text"]{
        width: 75%;
    }
    #FieldMessageName2,
    #FieldMessageNameKana2{
        display: block;
    }
    #MessageZip{
    width: 60%;
    }
}
@media screen and (max-width: 770px) {
    .bx-wrapper{
        display:none;
    }
    .campany_logos .bgt-link__box img{
      width: inherit;
    }

}
a:hover{
    text-decoration:underline;
}
